body{
    background-color: #006D77;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #0D1317;

}

header {
    background-color: #004B52;
    padding: 2px 2px;
    text-align: center;
    color: #F5F3F5;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    
}

nav {
    background-color: #006D77;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #F5F3F5;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}


nav a:hover {
    color: #8FCFE0;
}

nav ul li {
    display: inline-block;
    margin: auto;
    margin: 0 5px;
    background-color: #004B52;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: medium;
    background-color: #006D77;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

section{
    background-color: #AFDCE9;
    flex-wrap: wrap;
    flex: 3;
    justify-content:space-around;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin: 10px;
    margin-bottom: 10px;
    width: 50%;
}

section:hover{
    background-color: #8FCFE0;
}

section ul li{
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

section div p a {
    color: #F5F3F5;
    text-decoration: none;
    background-color: #006D77;
    text-align: center;
    margin: auto;
    display: block;
    padding: 10px 20px;
        
}

section ul {
    list-style-type: disc;
    padding-left: 20px;
}


h2, h3 {
    color: #000000;
}

h1 {
    color: #F5F3F5;
    font-size: 36px;
    margin-bottom: 20px;
}

aside {
    background-color: #AFDCE9;
    flex-wrap: wrap;
    flex: 3;
    justify-content:space-around;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin: 10px;
    margin-bottom: 10px;
    width: 50%;
}

aside h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

aside p {
    font-size: 16px;
    line-height: 1.5;
}

aside ul {
    list-style-type: disc;
    padding-left: 20px;
}

aside ul li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

aside:hover {
    background-color: #8FCFE0;
}

article {
    background-color: #AFDCE9;
    flex-wrap: wrap;
    flex: 3;
    justify-content:space-around;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin: 10px;
    margin-bottom: 10px;
    width: 50%;
}

article:hover{
    background-color: #8FCFE0;
}

article h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

article p {
    font-size: 18px;
    line-height: 1.6;
}

article ul {
    list-style-type: disc;
    padding-left: 20px;
}

article ul li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

p {
    line-height: 1.6;
    font-size: 18px;
}

footer {
    background-color: #8FCFE0;
    padding: 10px 20px;
    text-align: center;
    flex: 3;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #101D42;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus, textarea:focus {
    border-color: #006D77;
    outline: none;
}
 
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.cordoba, .alfajores, .fernet, .carlospaz, .jesusmaria{
    background-color: #AFDCE9;
    flex-wrap: wrap;
    flex: 3;
    justify-content:space-around;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.mhistorico, .mbellasartes, .mdelche, .mmemoria{
    background-color: #AFDCE9;
    flex-wrap: wrap;
    flex: 3;
    justify-content:space-around;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin: 10px;
    margin-bottom: 10px;
    width: 100%;
}